@use 'variables';
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: 16px;

  color-scheme: light dark;
  color: variables.$text-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: variables.$primary-color;
  transition: 0.3s ease;
  text-decoration: inherit;

  &:hover {
    color: variables.$primary-color-dark;
    scale: 1.025;
  }
}

body {
  margin: 0;
  background: variables.$background-color;
}

h1,
h2,
h3 {
  color: variables.$headline-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

select,
input {
  font-size: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: variables.$text-color;
  -webkit-box-shadow: 0 0 0px 1000px variables.$white-color inset;
  transition: background-color 5000s ease-in-out 0s;
}
