@use 'variables';

@mixin respond-sm {
  @media (min-width: variables.$breakpoint-sm) {
    @content;
  }
}

@mixin respond-md {
  @media (min-width: variables.$breakpoint-md) {
    @content;
  }
}

@mixin respond-lg {
  @media (min-width: variables.$breakpoint-lg) {
    @content;
  }
}

@mixin respond-xl {
  @media (min-width: variables.$breakpoint-xl) {
    @content;
  }
}

@mixin display-utilities($property, $value) {
  .#{$property}-#{$value} {
    display: $value;
  }

  $breakpoints: (
    sm: respond-sm,
    md: respond-md,
    lg: respond-lg,
  );

  @each $breakpoint, $mixin in $breakpoints {
    .#{$property}-#{$breakpoint}-#{$value} {
      @if $mixin == respond-sm {
        @include respond-sm {
          display: $value;
        }
      } @else if $mixin == respond-md {
        @include respond-md {
          display: $value;
        }
      } @else if $mixin == respond-lg {
        @include respond-lg {
          display: $value;
        }
      }
    }
  }
}

@include display-utilities('d', none);
@include display-utilities('d', flex);
@include display-utilities('d', block);
